@import url('https://fonts.googleapis.com/css?family=Alice|Rubik+Mono+One');
a{
  color: white !important;
  font-family: Alice;
}
h1{
  font-family: Alice;
  text-align: center;
  text-shadow: 2px 2px 2px grey;
}
#align{
  text-align: center;
}
#center{
  text-align: center;
}
.logo{
  height: 65%;
  position: absolute;
  left: 7vw;
  top: -4vh;
  z-index: 9999;
  background-color: white;
  border-radius: 1.5em;
  border: 3px solid white;
  box-shadow:  5px 5px 5px grey;

}
.titre{
  background-color: rgba(250,250,250,0.4);
  position: absolute;
  top: 0vh;
  right: 8.75vw;
  padding:1.9em 6.6em 1.9em 6.6em;
  font-size: 4em;
  color: #000;
}
.draw{
  margin-left: 12em;
}
nav{
  width: 100em;
}





.bg-lightgreen{
  background-color: rgb(174,174,172);
}



/******************************/
/*    bouton toggle legende   */
/******************************/
#feedback{
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 48px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/**********************/
/*timeline photo/video*/
/**********************/

.title{
  top: 0em;
  font-size: 3em;
  top: 250px;
  width: 50%;
}


.timeLine-projet {
  position: relative;
  padding: 70px 0px;
  text-align: center;
  width: 100%;
  overflow: hidden; 
}
.timeLine .row .lineHeader:before {
  position: absolute;
  top: 0;
  margin: auto;
  content: "\f102";
  font-family: FontAwesome;
  color: #DDD;
  font-size: 36px;
  margin-left: -10px; 
}
.timeLine .row .lineHeader:after {
  content: '';
  width: 3px;
  position: absolute;
  top: 35px;
  bottom: 35px;
  left: 50%;
  border-radius: 50px;
  background-color: #DDD;
}
.timeLine .row .lineFooter:before {
  position: absolute;
  bottom: 0;
  margin: auto;
  content: "\f103";
  font-family: FontAwesome;
  color: #DDD;
  font-size: 36px;
  margin-left: -10px; 
}
.timeLine .row .item {
  visibility: hidden;
  float: left;
  margin-bottom: 2%;
  padding: 0px;
  clear: left; 
}
.timeLine .row .item:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 3px solid darkred;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: -9px;
  top: 10px; 
}
.timeLine .row .item:after {
  content: '';
  height: 1px;
  width: 5%;
  position: absolute;
  background-color: #DDD;
  top: 16px;
  right: 8px; 
}
.timeLine .row .item .caption {
  margin: auto;
  width: 85%;
  background: #F0F0F0;
  min-height: 200px;
  position: relative;
  color: #333;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5); 
}
.timeLine .row .item .caption .star {
  width: 50px;
  padding: 5px 0px;
  font-weight: bold;
  line-height: 15px;
  position: absolute;
  z-index: 999;
  top: -10px;
  left: 20px;
  background-color: rgba(139, 0, 0, 0.8);
  color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5); 
}
.timeLine .row .item .caption .star span {
  display: inline-block; 
}
.timeLine .row .item .caption .star:before {
  content: '';
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: 2;
  border-right: 10px solid #5e0808;
  border-bottom: 0px solid transparent;
  border-top: 10px solid transparent; 
}
.timeLine .row .item .caption .image {
  position: relative; 
}
.timeLine .row .item .caption .image img {
  width: 100%;
  min-height: 200px;
  max-height: 400px; 
}
.timeLine .row .item .caption .image video {
  width: 100%;
  height: 100%;
  position: relative; 
}
.timeLine .row .item .caption .image .controll {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; 
}
.timeLine .row .item .caption .image .title {
  background-color: darkred;
  padding: 0px 20px;
  position: absolute;
  z-index: 999;
  left: -10px;
  bottom: 10px;
  display: inline-block;
  opacity: 0;
  color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5); 
}
.timeLine .row .item .caption .image .title:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  z-index: 2;
  border-left: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-top: 10px solid #5e0000; 
}
.timeLine .row .item .textContent {
  padding: 15px 10px; 
}
.timeLine .row .item .textContent p {
  text-justify: justify;
  text-align: left;
  padding: 0px 10px;
  border-left: 5px solid #5e0808;
  border-radius: 3px; 
}
.timeLine .row .pull-right {
  float: right;
  margin-bottom: 0%;
  margin-top: 3%;
  clear: right; 
}
.timeLine .row .pull-right:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 3px solid darkred;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -6px;
  top: 14px; 
}
.timeLine .row .pull-right:after {
  content: '';
  height: 1px;
  width: 5%;
  position: absolute;
  background-color: #DDD;
  top: 21px;
  left: 12px; 
}

/* Smart Phones Screen */
@media (max-width: 767px) {
  .timeLine .row .item {
    margin-bottom: 4%; 
  }
  .timeLine .row .item:before {
    display: none; 
  }
  .timeLine .row .item:after {
    display: none; 
  }
  .timeLine .row .pull-right {
    margin-top: 0%; 
  }
  .timeLine .row .pull-right:before {
    display: none; 
  }
  .timeLine .row .pull-right:after {
    display: none; 
  } 
}
/* small Screen */
@media (min-width: 768px) and (max-width: 991px) {
  .timeLine .row .item {
    margin-bottom: 4%;
  }
  .timeLine .row .item:before {
    display: none; 
  }
  .timeLine .row .item:after {
    display: none; 
  }
  .timeLine .row .pull-right {
    margin-top: 0%; 
  }
  .timeLine .row .pull-right:before {
    display: none; 
  }
  .timeLine .row .pull-right:after {
    display: none; 
  } 
}
/*****************/
/*timeline projet*/
/*****************/
#container-projet{
  overflow-x: hidden;
  border: 1px solid grey;
  box-shadow: 4px 2px 2px grey; 
  border-radius: 10px 10px 10px 10px;
}
#container-projet1{
  overflow-x: auto;
  margin-right: -100px;
  padding-right: 100px; 
  height: 20vw; 
}
.timeline-projet {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  height: 20em ; 
}

.timeline-projet:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline-projet > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline-projet > li:before,
.timeline-projet > li:after {
  content: " ";
  display: table;
}

.timeline-projet > li:after {
  clear: both;
}

.timeline-projet > li:before,
.timeline-projet > li:after {
  content: " ";
  display: table;
}

.timeline-projet > li:after {
  clear: both;
}

.timeline-projet > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-projet > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline-projet > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline-projet > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-projet > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline-projet > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline-projet > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline-projet:before {
    left: 40px;
  }

  ul.timeline-projet > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline-projet > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline-projet > li > .timeline-panel {
    float: right;
  }

  ul.timeline-projet > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline-projet > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
@media screen and (min-width: 200px) and (max-width: 840px) {
#container-projet1{
  
  height: 70vw;

  
}
  
}
/**********/
/* footer */
/**********/

.fas{
  color: rgb(255,112,88);
}
.bg-orange{
  background-color: rgb(255,112,88);
}
.bg-footer{
  background-color: rgba(250,250,250,0.7);
}
/*****************/
/*   chantier    */
/*****************/
.legende{
    
    transition: transform .2s;
    
}
.legende:hover{
  transform: scale(1.5);
  transition: transform .2s;
  z-index: 1;
}