@import url('https://fonts.googleapis.com/css?family=Alice|Rubik+Mono+One');
a{
  color: white !important;
  font-family: Alice;
}
#tailleI{
  background-image: url(../img/accueil.png);

}
h1{
  font-family: Alice;
  text-align: center;
  text-shadow: 2px 2px 2px grey;
}
#align{
  text-align: center;
}
#center{
  text-align: center;
}
.logo{
  height: 65%;
  position: absolute;
  left: 7vw;
  top: -4vh;
  z-index: 9999;
  background-color: white;
  border-radius: 1.5em;
  border: 3px solid white;
  box-shadow:  5px 5px 5px grey;

}
.titre{
  background-color: rgba(250,250,250,0.4);
  position: absolute;
  top: 0vh;
  right: 8.75vw;
  padding:1.9em 6.6em 1.9em 6.6em;
  font-size: 4em;
  color: #000;
}
.draw{
  margin-left: 12em;
}
nav{
  width: 100em;
}
.ecoparc{
  font-size: 2.1em;
  color: #006400;
}
.forest{
  position: fixed;
  height: 25em;
  top: 28vw;
  left: -17vh;
  z-index: -1;
}
.build{
  position: fixed;
  height: 25em;
  top: 16vw;
  right: -17vh;
}
.pictogramme{
height: 10em;
}
.btn{
  position: relative;
  top: -7vh;
}
.onglet1{
  position: absolute;
  left: 12.5vw;
  top: 1.25vh;
  background-color: rgba(0,0,0,0.65);
  color: white;
  border-radius: 10em;
  opacity: 0;
  padding: 4.3em 3em;
}
.onglet2{
  position: absolute;
  left: 24vw;
  top: 1.25vh;
  background-color: rgba(0,0,0,0.65);
  color: white;
  border-radius: 10em;
  opacity: 0;
  padding: 4.3em 2.5em;


}
.onglet3{
  position: absolute;
  left: 36.5vw;
  top: 1.25vh;
  background-color: rgba(0,0,0,0.65);
  color: white;
  border-radius: 10em;
  opacity: 0;
  padding: 4.3em 1.8em;


}
.onglet4{
  position: absolute;
  left: 49.1vw;
  top: 1.25vh;
  background-color: rgba(0,0,0,0.65);
  color: white;
  border-radius: 10em;
  opacity: 0;
  padding: 4.3em 2.8em;


}
.onglet5{
  position: absolute;
  left: 61.5vw;
  top: 1.25vh;
  background-color: rgba(0,0,0,0.65);
  color: white;
  border-radius: 10em;
  opacity: 0;
  padding: 4.3em 3.1em;


}
.first-news:hover .onglet1, .first-news:hover .onglet2, .first-news:hover .onglet3, .first-news:hover .onglet4, .first-news:hover .onglet5{
  opacity: 1;
  transition: .5s;
}

/*toggle legende*/
#feedback{
  display: none;
}



.logo-partenaires{
  height: 2.5em;
}

.bg-lightgreen{
  background-color: rgb(174,174,172);
}
.card{
  border: 3px solid rgb(174,174,172) !important;
  border-radius: 1.5em !important;
}
.btn-letter{
  position: static !important;
}
.newsletter{
  font-size: 1.5em;
}
.fas{
  color: rgb(255,112,88);
}
.bg-orange{
  background-color: rgb(255,112,88);
}
.bg-footer{
  background-color: rgba(250,250,250,0.7);
}

/******************************/
/*    bouton toggle legende   */
/******************************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 70px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/********************/
/*timeline histoire */
/********************/
a {
  color: #000!important;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
  a:hover,
  a.selected {
    color: #ffcc00;
  }

h1,h2,h4,h5,h6 {
  text-align: center;
  color: #ccc;
  text-shadow: grey 1px 1px 2px;
  margin-bottom: 5px;
}
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
.sociales {
  text-align: center;
  margin-bottom: 20px;
}

  #timeline {
    background: #fff!important;
    color: #fff;
    font-size: 14px;
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('../img/imgtimeline/dot.gif') left 45px repeat-x;
  }
    #dates {
      width: 800px;
      height: 60px;
      overflow: hidden; 
    }
      #dates li {
        list-style: none;
        float: left;
        width: 100px;
        height: 50px;
        font-size: 24px;
        text-align: center;
        background: url('../img/imgtimeline/biggerdot.png') center bottom no-repeat;
   
      }
        #dates a {
          line-height: 38px;
          padding-bottom: 10px;
          
        }
        #dates .selected {
              font-size: 38px;
        }
    
    #issues {
      width: 800px;
      height: 350px;
      overflow: hidden;
    } 
      #issues li {
        width: 800px;
        height: 350px;
        list-style: none;
        float: left;
      }
       /* #issues li.selected img {
          -webkit-transform: scale(1.1,1.1);
          transform: scale(1.1,1.1);
        }
        /*#issues li img {
          float: left;
          margin: 10px 30px 10px 50px;
          background: transparent;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
        /*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
        /*  zoom: 1;
          -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
          -webkit-transform: scale(0.7,0.7);
          transform: scale(0.7,0.7);
        }*/
        #issues li h1 {
          color: #000!important;
          font-size: 48px;
          margin: 20px 0;
          text-shadow: #000 1px 1px 2px;
          text-align: left;
        }
        #issues li p {
           color: #000!important;
          font-size: 20px;
          margin-right: 70px;
          font-weight: normal;
          line-height: 22px;
          text-shadow: #000 1px 1px 2px;
          text-align: left;

        }
    
    #grad_left,
    #grad_right {
      width: 100px;
      height: 350px;
      position: absolute;
      top: 0;
    }
      #grad_left {
            left: 0;
            background: url('../img/imgtimeline/grad_left.png') repeat-y;
      }
      #grad_right {
            right: 0;
            background: url('../img/imgtimeline/grad_right.png') repeat-y;
      }
    
    #next,
    #prev {
      position: absolute;
      top: 0;
      font-size: 70px;
      top: 170px;
      width: 22px;
      height: 38px;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
      #next:hover,
      #prev:hover {
        background-position: 0 -76px;
      }
      #next {
        right: 0;
        background-image: url('../img/imgtimeline/next.png');
      }
      #prev {
        left: 0;
        background-image: url('../img/imgtimeline/prev.png');
      }
        #next.enabled,
        #prev.enabled {
          opacity: 0.2;
        }


        .imgtimeline{
          position:relative;
          top: 114px;
        }
        /**********************/
        /*timeline photo/video*/
        /**********************/

.title{
  top: 0em;
  font-size: 4em;
  top: 250px;
  width: 50%;
}
.title>h2{
  font-size: 25px;
}

.timeLine {
  position: relative;
  padding: 70px 0px;
  text-align: center;
  width: 100%;
  overflow: hidden; }
  .timeLine .row .lineHeader:before {
    position: absolute;
    top: 0;
    margin: auto;
    content: "\f102";
    font-family: FontAwesome;
    color: #DDD;
    font-size: 36px;
    margin-left: -10px; }
  .timeLine .row .lineHeader:after {
    content: '';
    width: 3px;
    position: absolute;
    top: 35px;
    bottom: 35px;
    left: 50%;
    border-radius: 50px;
    background-color: #DDD; }
  .timeLine .row .lineFooter:before {
    position: absolute;
    bottom: 0;
    margin: auto;
    content: "\f103";
    font-family: FontAwesome;
    color: #DDD;
    font-size: 36px;
    margin-left: -10px; }
  .timeLine .row .item {
    visibility: hidden;
    float: left;
    margin-bottom: 2%;
    padding: 0px;
    clear: left; }
    .timeLine .row .item:before {
      content: '';
      width: 15px;
      height: 15px;
      border: 3px solid darkred;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      right: -9px;
      top: 10px; }
    .timeLine .row .item:after {
      content: '';
      height: 1px;
      width: 5%;
      position: absolute;
      background-color: #DDD;
      top: 16px;
      right: 8px; }
    .timeLine .row .item .caption {
      margin: auto;
      width: 85%;
      background: #F0F0F0;
      min-height: 200px;
      position: relative;
      color: #333;
      border: 1px solid #aaa;
      box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5); }
      .timeLine .row .item .caption .star {
        width: 50px;
        padding: 5px 0px;
        font-weight: bold;
        line-height: 15px;
        position: absolute;
        z-index: 999;
        top: -10px;
        left: 20px;
        background-color: rgba(139, 0, 0, 0.8);
        color: white;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5); }
        .timeLine .row .item .caption .star span {
          display: inline-block; }
        .timeLine .row .item .caption .star:before {
          content: '';
          position: absolute;
          top: 0px;
          left: -10px;
          z-index: 2;
          border-right: 10px solid #5e0808;
          border-bottom: 0px solid transparent;
          border-top: 10px solid transparent; }
      .timeLine .row .item .caption .image {
        position: relative; }
        .timeLine .row .item .caption .image img {
          width: 100%;
          min-height: 200px;
          max-height: 400px; }
        .timeLine .row .item .caption .image video {
          width: 100%;
          height: 100%;
          position: relative; }
        .timeLine .row .item .caption .image .controll {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          background-color: rgba(0, 0, 0, 0.3);
          color: rgba(255, 255, 255, 0.7);
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .timeLine .row .item .caption .image .title {
          background-color: darkred;
          padding: 0px 20px;
          position: absolute;
          z-index: 999;
          left: -10px;
          bottom: 10px;
          display: inline-block;
          opacity: 0;
          color: white;
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5); }
          .timeLine .row .item .caption .image .title:before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0px;
            z-index: 2;
            border-left: 10px solid transparent;
            border-bottom: 0px solid transparent;
            border-top: 10px solid #5e0000; }
    .timeLine .row .item .textContent {
      padding: 15px 10px; }
      .timeLine .row .item .textContent p {
        text-justify: justify;
        text-align: left;
        padding: 0px 10px;
        border-left: 5px solid #5e0808;
        border-radius: 3px; }
  .timeLine .row .pull-right {
    float: right;
    margin-bottom: 0%;
    margin-top: 3%;
    clear: right; }
    .timeLine .row .pull-right:before {
      content: '';
      width: 15px;
      height: 15px;
      border: 3px solid darkred;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      left: -6px;
      top: 14px; }
    .timeLine .row .pull-right:after {
      content: '';
      height: 1px;
      width: 5%;
      position: absolute;
      background-color: #DDD;
      top: 21px;
      left: 12px; }

/* Smart Phones Screen */
@media (max-width: 767px) {
  .timeLine .row .item {
    margin-bottom: 4%; }
    .timeLine .row .item:before {
      display: none; }
    .timeLine .row .item:after {
      display: none; }
  .timeLine .row .pull-right {
    margin-top: 0%; }
    .timeLine .row .pull-right:before {
      display: none; }
    .timeLine .row .pull-right:after {
      display: none; } }
/* small Screen */
@media (min-width: 768px) and (max-width: 991px) {
  .timeLine .row .item {
    margin-bottom: 4%; }
    .timeLine .row .item:before {
      display: none; }
    .timeLine .row .item:after {
      display: none; }
  .timeLine .row .pull-right {
    margin-top: 0%; }
    .timeLine .row .pull-right:before {
      display: none; }
    .timeLine .row .pull-right:after {
      display: none; } 
    }

