@import "_variables.scss";

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e00003+15,000000+37,0a0003+63,f20004+89&0.76+75,1+97 */
@font-face {
	font-family: "augusta";
	src: url("../font/augusta.ttf");
}

body{
	font-family: "augusta";
	color: $rouge;
}

main{
	background: url("../img/wp2.png");
	background-size: cover;
}

header{
	background: rgb(224,0,3); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(224,0,3,1) 15%, rgba(0,0,0,1) 37%, rgba(10,0,3,1) 60%, rgba(242,0,4,1) 89%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(224,0,3,1) 15%,rgba(0,0,0,1) 37%,rgba(10,0,3,1) 60%,rgba(242,0,4,1) 89%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(224,0,3,1) 15%,rgba(0,0,0,1) 37%,rgba(10,0,3,1) 60%,rgba(242,0,4,1) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00003', endColorstr='#f20004',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: 5px 5px 5px;
}

.text-smaller{
	font-size: 0.75rem;
}

nav {
	div> a{
	color: $grisclaire !important;
	font-family: "augusta";
}
}

span{
	padding-top: 2em;
}

.borR{
	border-radius: 50% !important;
	overflow: hidden;
}

.forT{
	
	border: 2px solid black !important;
}

.forS{
	height: 5em !important;
}

footer{
	background: rgb(224,0,3); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(224,0,3,1) 15%, rgba(0,0,0,1) 37%, rgba(10,0,3,1) 60%, rgba(242,0,4,1) 89%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(224,0,3,1) 15%,rgba(0,0,0,1) 37%,rgba(10,0,3,1) 60%,rgba(242,0,4,1) 89%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(224,0,3,1) 15%,rgba(0,0,0,1) 37%,rgba(10,0,3,1) 60%,rgba(242,0,4,1) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00003', endColorstr='#f20004',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 225px !important;
}

.txtC{
	max-height: 100px !important;
}

.imgC{
	text-align: center !important;
}

.bgC{
	background-color: $noir;
}

div> a{
	color: $rouge !important;
	content: "";
	border-right: 1px solid $rouge;
	padding-right: 1em;
}

.colC{
	text-align: center;
	font-size: 1.3em;
}

div> a:last-child{
	content:"";
	border-right:none;
}

.txtR{
	color: $rouge;
	text-align: center;
}

.bgWh{
	background-color: $blanc !important;
	border-radius: 6px;
	text-align: center;
}

.txtD{
	padding: right;
}

.maiM{
	margin-top: 9rem !important;
	@media screen and (max-width: 1000px){
		margin-top: 13rem !important;
	}
	@media screen and (max-width: 320px){
 		margin-top: 15rem !important;
 	}
}
