@import url('https://fonts.googleapis.com/css?family=Alice');
.btn{
  background-color: #7eaa46 !important;
}
a{
  color: white !important;
  font-family: Alice;
}
#tailleI{
  background-image: url(../img/accueil.png);
  background-size: contain;
}
h1{
  font-family: Alice;
  text-align: center;
  text-shadow: 2px 2px 2px grey;
}
#align{
  text-align: center;
}
#center{
  text-align: center;
}